package {{ .Pkg }}

func init() {
	{{ .Var }} = {{ (eval "licenses" .) | trim | quote }};
}

{{ define "licenses" }}
{{ range .Modules }}
## {{ .Name }}
{{ range .Licenses }}
{{ .Path }}:

{{ .Contents }}

{{ end }}
{{ end }}
{{ end }}
