package {{ .Pkg }}

func init() {
	{{ .Var }} = {{ (eval "licenses" .) | wrapquote "\t\t" }}
}

{{ define "licenses" -}}
{{ range .Modules -}}
## {{ .Name }}

{{ range .Licenses -}}
{{ .Path }}:

{{ .Contents }}

{{ end -}}
{{ end -}}
{{ end -}}
